{% extends "base.html" %}

{% block title %}Bookstore - Register{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}

<section>

    <!-- Registration error, react will extract it -->
    <input type="hidden" id="registration_error" value="{{ error if error else '' }}">
         
    <!-- React will extract csrf token from here and add to the form -->
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    
    <div id="react-register"></div>
</section>


{% endblock %}


{% block javascript %}

<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel" src="{{ url_for('static', filename='javascript/register.js') }}"></script>

{% endblock %}

